@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: #222222;
    overflow-y: scroll;
}
header{
    
    left: 0;
    top: 0;
    width: 100%;
    height: max-content;
    border: 1px solid silver;
    box-sizing: border-box;
}
.desktop h1, .mobile h1{
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 13%;
    margin-top: 2%;
}
.desktop{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #222222;
    transition: background-color 0.3s ease;
}
.desktop nav a, .mobile nav a{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    margin: 20px;
}
.desktop nav{
    text-align: center;
    margin-top: -30px;
}
img{
    float: right;
    margin-top: -2%;
}
.mobile{
    display: none;
    justify-content: center;
    gap: 30px;
}
.mobile nav{
    display: none;
    flex-direction: column;
    gap: 30px;
}
.mobile input[type='checkbox']:checked ~ nav{
    display: flex;
}
.mobile input[type='checkbox']{
    display: none;
}
main .firstblock{
    width: 98%;
    height: 520px;
    border: 3px solid silver;
    margin-top: 40px;
}
main .firstblock p{
    
    color: white;
}
main .firstblock p:nth-child(1){
    font-size: 50px;
}
main .firstblock p:nth-child(2){
    font-size: 30px;
}
.firstblock ol{
    list-style-image: url("../img/ListElement.svg");
}
.firstblock ol li{
    font-size: 18px;
    color: white;
    margin-left: 5%;
}
.firstblock button{
    width:191px;
    height: 96px;
    border: 0;
    border-radius: 5%;
    font-size: 24px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 5%;
    cursor: pointer;
}
.firstblock img{
    width: 20%;
    height: 10%;
    margin-top: -28%;
    align-self: flex-end;
}
.text{
    display: flex;
    flex-direction: column;
}
.text p:nth-child(1){
    margin-top: 5%;
}
.text p{
    margin-left: 5%;
}
.firstblock button{
    margin-left: 5%;
}
.secondblock{
    width:100%;
    height: max-content;
    border: 2px solid silver;
    display: flex;
    flex-direction: row;
}
.secondblock img{
    margin-top: 5%;
}
.secondblock .firstimage{
    width: 20%;
}
.secondblock .image1{
    width: 30%;
    margin-top: 2%;
}
.secondblock ul{
    align-self: center;
    margin-left: 5%;
    list-style-image: url("../img/SecondList.svg");
}
.secondblock ul li{
    color: #FFFFFF;
}
.secondblock ul button{
    width:614px;
    height: 75px;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 2%;
    font-size: 20px;
}
.thirdblock{
    width:100%;
    height: max-content;
    background-color: #282829;
    border: 2px solid silver;
}
.thirdblock .formblock{
    width: 70%;
    height: 400px;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5%;
    margin-left: 20%;
    margin-top: 5%;
}
.thirdblock .formblock p{
    font-size: 50px;
    text-align: center;
    color: #38535D;
}
.thirdblock .formblock form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.thirdblock .formblock form input:nth-child(1),.thirdblock .formblock form input:nth-child(2){
    width:781px;
    height: 65px;
    margin-left: 15%;
    padding-left: 2%;
}
.thirdblock .formblock label p{
    font-size: 20px;
    color: #55565A;
}
.thirdblock .formblock button{
    width:781px;
    height: 100px;
    background-color: #282829;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 15%;
}
footer{
    width:100%;
    height: 500px;
    background-color: #282829;
    border: 2px solid silver;
}
footer hr{
    margin-top: 3%;
}
footer nav{
    text-align: center;
    margin-top: 3%;
}
footer nav a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 20px;
    text-transform: uppercase;
}
footer .firstflex{
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    margin-top: 5%;
}
footer .firstflex p{
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
}
footer .images{
    margin: 20px;
}
footer .images p{
    color: #FFFFFF;
}
footer .secondflex{
    display: flex;
    justify-content: center;
    margin-top: -6%;
}
footer .secondflex .images{
    display: flex;
    gap: 20px;
}
footer .thirdflex{
    display: flex;
    flex-direction: column;
    float: right;
    gap: 20px;
}
footer .thirdflex button{
    width:180px;
    height: 70px;
    text-transform: uppercase;
}
footer .thirdflex p{
    color: #FFFFFF;
    font-size: 20px;
}
.shadowed-header {
    background-color: rgba(0, 0, 0, 0.7);
}
button:hover{
    cursor: pointer;
    animation-name: stylebutton;
    animation-delay: 0;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@media screen and (min-width:320px) and (max-width:900px){
    .desktop{
        display: none;
    }
    .mobile{
        display: flex;
    }
    main .firstblock{
        width: 98%;
        height: 470pt;
        border: 3px solid silver;
    }
    .secondblock{
        flex-direction: column;
    }
    .secondblock ul button{
        width:30%;
        height: 75px;
        text-transform: uppercase;
        font-weight: bolder;
        margin-top: 2%;
        
    }
    .thirdblock .formblock form input:nth-child(1),.thirdblock .formblock form input:nth-child(2){
        width:70%;
        height: 30%;
        margin-left: 15%;
        padding-left: 2%;
    }
    .thirdblock .formblock button{
        width:70%;
        height: 100px;
    }
    .secondblock{
        flex-direction: column;
    }
    .secondblock .firstimage{
        width: 30%;
    }
    footer .secondflex .images{
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 30%;
    }
    footer{
        height: 1450px;
    }
}
@media screen and (min-width:900px) and (max-width:1390px){
    .firstblock{
        height: 900px;
    }
    .thirdblock .formblock form input:nth-child(1),.thirdblock .formblock form input:nth-child(2){
        width:70%;
        height: 30%;
        margin-left: 15%;
        padding-left: 2%;
    }
    .thirdblock .formblock button{
        width:70%;
        height: 100px;
    }
    .thirdblock{
        height: 1000px;
    }
    .secondblock{
        flex-direction: column;
    }
}
@keyframes stylebutton {
    0%{
        background-color: #eb34b4;
        color: #FFFFFF;
    }
    10%{
        background-color: #3b10e6;
        color: #FFFFFF;
    }
    50%{
        background-color: #22e393;
        color: #FFFFFF;
    }
    100%{
        background-color: #F0F0F0;
        color: #FFFFFF;
    }
}